@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Marcellus+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(120deg, #4A0819 0%, #B93739 100%);
    background-position: center;
    min-height: 100vh;
    height: 100%;
    background: radial-gradient(circle at center, #993c06 6%, #aa1e14 10%, #4A0819 40%, #8f1214 100%);
    background-size: 200% 200%;
    animation: radialMove 12s linear infinite;
}

@keyframes radialMove {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

:root {
    --primary-red: #4A0819;
    --secondary-red: #B93739;
    --gray-color: rgb(226, 224, 224);
    --sandle-color: #ffc44a;
    --blue-color: #667bf1;
    --orange-color: orange;
    --pink-color: rgb(236, 45, 157);
    /* --info-card: rgba(196, 106, 43, 0.6); */
    --Jathagam-color: orange;
    --Prasanam-color: green;
    --Vastu-color: #dc2f02;
    --Homam-color: #acacaa;
    --info-card: rgb(248, 248, 2, .2);
}




/* Header */
.header {
    background-color: rgba(248, 246, 246, 0.1);
}


.header .brand,
.header .brand:hover {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

@media screen and (min-width:320px) and (max-width:430px) {
    .header .brand,
    .header .brand:hover {
        color: white;
        font-weight: 600;
        font-size: 12px;
    }
}

@media screen and (min-width:430px) and (max-width:530px) {
    .header .brand,
    .header .brand:hover {
        color: white;
        font-weight: 600;
        font-size: 1.1rem;
    }
}


.header .nav-link {
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;
    padding: 5px 12px;
    color: white;
    width: fit-content;
    white-space: nowrap;
}

.header .nav-link:hover {
    color: var(--Jathagam-color);
}

.header .nav-link.active {
    background-color: var(--info-card);
    box-shadow: 0 0 8px 0 saddlebrown;
    color: white !important;
}

.header .form-check-input {
    background-color: white;
    border: 2px solid var(--secondary-red);
    color: var(--secondary-red)
}

.header .form-check-input:focus {
    box-shadow: 0 0 .25rem var(--secondary-red);
    background-color: white;
    border: 2px solid var(--secondary-red);
    outline: none;
}

.header .form-check-input:checked {
    background-color: #7c0f2b;
    border: 2px solid var(--secondary-red);
}

.header .login-btn {
    border: none;
    outline: none;
    padding: 5px 12px;
    border-radius: 50px;
    background-color: var(--secondary-red);
    color: white;
    margin: 12px;
    white-space: nowrap;
}

.language-btn {
    border: 2px solid var(--secondary-red);
    padding: 4px 10px;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-left: 12px;
    white-space: nowrap;
}

.dropdown {
    border: none;
    outline: none;
    font-weight: 500;
    background: transparent;
    color: white;
}

.dropdown .option {
    font-size: 13px;
    font-weight: 400;
    color: black;
}

.dropdown .active {
    font-size: 13px;
    font-weight: 400;
    background-color: #ffc44a !important;

}


.center-page {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(120deg, #4A0819 0%, #c45153 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.god-frame {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.glow-rotate-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    z-index: 99;
    animation: zoom-in-zoom-out 4s ease-in-out infinite;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(0.8);
    }
}